.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(1deg, pink, #1d4ed8);
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin-bottom: 30px;
}
.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
  border: 5px solid white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}