.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-card {
   background: linear-gradient(1deg, pink, #1d4ed8);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}